/*
  Color palette:
  primary: #F4623A
  danger: #DE1A1A
  background: #E8EBF7
  confirm: #0B3954
  text: #333333
*/

*{
  font-family: 'Varela Round', "Arial", Times, serif;
}

body {
  color: #333333;
}

body {
  background-color: #E8EBF7;
}

.App {
  width: 100%;
  text-align: center;
}

a {
  color: inherit;
}

.btn-secondary {
  background-color: #64a19d;
  color: white;
  padding: 1.25rem;
  font-size: 80%;
  letter-spacing: .15rem;
}

.btn-secondary:hover {
  background-color: #5a928e;
}

.btn-primary {
  background-color: #f4623a;
  border-color: #f4623a;
}

.btn-primary:hover {
  background-color: #c24f2f;
  border-color: #c24f2f;
}

.btn-outline-primary {
  color: #f4623a;
  border-color: #f4623a;
}

.btn-outline-primary:hover {
  color: white;
  border-color: #f4623a;
  background-color: #f4623a;
}


.bg-dark {
  color: white;
}

/* erase me PLEASE */
.card {
  min-width: 325px;
  max-width: 325px;
  display: inline-block;
}

.card-img-top {
  padding: 10px;
  background-color: #0B3954;
}

.sub {
  text-decoration: underline;
}

.img-marca {
  width: 325px;
  height: 325px;
}

.card-body {
  padding: 0px;
  width: 325px;
  height: 325px;
  align-content: center;
}

.align-card-body {
  text-align: center;
}

#brands {
  flex-wrap: wrap;
  justify-content: center;
}

.colocal-img-2 {
  width: 200px;
  height: 75px;
}

.colocal-img-1 {
  height: 56px;
}

.hero-urban-category {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(http://carlos.zzhype.com/localite/assets/img/bg-masthead.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.gradient-text {
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-header-gradient {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.w-1100{
  width: 1100px;
}

.flex-end {
  align-self: end;
}

.btn-h-40 {
  height: 40px;
  align-self: flex-end;
}